@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Magic: The Gathering: Sealed Deck Generator</title>
    <meta name="Description" content="Magic: The Gathering Sealed Deck Card Generator, Simulates opening boosters for many sets">
    <link rel='stylesheet' href='@Url.Content("~/css/home.css")' type='text/css' />
</head>
<body class="home">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-25921884-1', 'auto');
        ga('send', 'pageview');
    </script>
    <h1>Magic: The Gathering Sealed Deck Card Generator</h1>
    <img src="@Url.Content("~/images/mtg-logo.jpg")" width="450" height="128" alt="Magic the Gathering" />
    <p><strong>Welcome!</strong></p>
    <p>This site exists because I'm not a very good Magic player. Really I only play during the prereleases, and I've half-forgotten the rules every time. It takes me forever to build my deck, and my poor friends need to use some of their time to help me out. That's not really cool. So to help me, thank them, and hopefully help others, I present to you my crappy thrown-together-in-a-Saturday-afternoon MtG Card Generator!</p>
    <p>Well, I've evolved it considerably since it started. But that's how it started.</p>
    <p>The idea is to let it generate, using a hopefully <em>somewhat</em> accurate algorithm, what you're get at a <a href="http://www.wizards.com/magic/tcg/events.aspx?x=mtgcom/events/prereleases">MtG Prerelease</a> event. Then you can take your time, check out the cards, try to remember the rules, and maybe figure out what deck you'd build.</p>
    <p>I enjoy building and enhancing this thing, so I'll try to keep doing it for every new set.</p>
    <p>Technically these Prereleases use a format called <a href="http://www.wizards.com/Magic/Magazine/Article.aspx?x=mtgcom/daily/sw63">Sealed Deck</a>, where you get 6 packs of sealed boosters, open them, and construct your deck from only those cards.</p>
    <p class="twitter-follow">
        Want the latest updates? Follow <a href="https://twitter.com/mtggen" target="_blank">@@mtggen on Twitter</a> or <a href="http://eepurl.com/bbdyO5">subscribe to the email update list</a>.
    </p>
    <p>12-Nov-2014: This project has now been <a href="https://github.com/copperdogma/mtgen">open sourced on Github</a>. I will continue creating new generators as new sets come out, but if you have something you wish to contribute I'd love to hear from you. Enjoy!</p>
    <h2>Sealed Deck Generator Sets</h2>
    <table>
        <thead>
            <tr><th></th><th>Set</th><th>Generator Created Date</th><th>Prerelease Date</th><th>Release Date</th></tr>
        </thead>
        <tbody class="block">
            <tr class="title"><td colspan="5">Shadows over Innistrad Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "soi", IsFutureSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "c15", IsCurrentSet = true })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Battle for Zendikar Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ogw", IsFutureSet = true })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "bfz", IsCurrentSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "v15", IsCurrentSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ori", IsCurrentSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "mm2", IsCurrentSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "tpr", IsCurrentSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ddo", IsCurrentSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "c14" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Khans of Tarkir Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "dtk" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "frf" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ktk" })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "v14", ReleaseTitle = "from @GavinVerhey" })
        </tbody>
        <tbody class="core">
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "m15", IsCurrentSet = true })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ovm" })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "cns" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Theros Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "jou" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "bng" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ths" })
        </tbody>
        <tbody class="core">
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "m14" })
        </tbody>
        <tbody>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "mma" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Return to Ravnica Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "dgm" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "gtc" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "rtr" })
        </tbody>
        <tbody class="core">
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "m13" })
            <tr asp-set-code="m13" />
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Innistrad Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "avr" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "dka" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "isd" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Scars of Mirrodin Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "som" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "mbs" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "nph" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Zendikar </td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "zen" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "wwk" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "roe" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Onslaught Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ons" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "lgn" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "scg" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Odyssey Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ody" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "tor" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "jud" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Masques Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "mmq" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "nms" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "pcy" })
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Urza Block</td></tr>
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "usg" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "ulg" })
            @Component.Invoke("SetSummary", new SetStubSummary { Code = "uds" })
        </tbody>
        @Component.Invoke("SetSummary", new SetStubSummary { Code = "atq" })
        @Component.Invoke("SetSummary", new SetStubSummary { Code = "arn" })
        @Component.Invoke("SetSummary", new SetStubSummary { Code = "2ed" })
        @Component.Invoke("SetSummary", new SetStubSummary { Code = "leb" })
        @Component.Invoke("SetSummary", new SetStubSummary { Code = "lea" })
    </table>
    <p>Where are the previous sets? I started the generator on Innistrad, so older ones don't exist. I may add them one day. If you have a particular set you really want to see, <a href="mailto:cam.marsollier@gmail.com">let me know</a>.</p>
    <footer>
        <p>Created by: Cam Marsollier - <a href="mailto:cam.marsollier@gmail.com">cam.marsollier@gmail.com</a></p>
        <p>Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2009 Wizards. All Rights Reserved.</p>
        <p>MtG Generator is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. MtG Generator may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' Fan Site Policy. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a href="http://www.wizards.com">www.wizards.com</a>.</p>
    </footer>
</body>
</html>