@model Set
@if (Model.GeneratorCreatedDate.HasValue)
{
    @:<a class="set-link" href="/@Model.Code.ToLower()/">
    }
<div class="set @(Model.IsCurrentSet ? "current" : "") @(Model.IsFutureSet ? "future" : "")">
    <div class="set-logo">
        <img src="/@Model.Code.ToLower()/images/@Model.Image" title="@Model.Name" alt="@Model.Name logo" />
    </div>
    <div class="set-name">@Model.Name</div>
    <div class="set-count">@Model.CardCount cards</div>
    <div class="set-dates">
        <div class="set-prerelease-date">
            @if (Model.PrereleaseDate.HasValue)
            {
                <span>Prerelease:</span> <time datetime="@Model.PrereleaseDate.Value.ToString("yyyy-MM-dd")">@Model.PrereleaseDate.Value.ToString("MMMM d, yyyy")</time>
            }
            else
            {
                <span class="none">Prerelease:</span> <em>No prerelease</em>
            }
        </div>
        <div class="set-release-date">
            @if (Model.ReleaseDate.HasValue)
            {
                <span>Release:</span> <time datetime="@Model.ReleaseDate.Value.ToString("yyyy-MM-dd")">@Model.ReleaseDate.Value.ToString("MMMM d, yyyy")</time>
            }
            else
            {
                <span class="none">Release:</span>  <em>No release</em>
            }
        </div>
    </div>
    @if (Model.IsFutureSet)
    {
        <div class="future-set"><em>Coming Soon</em></div>
    }
</div>
@if (Model.GeneratorCreatedDate.HasValue)
{
    @:</a>
}