@using mtgen.Models;
@{
    Layout = null;
}
@helper DisplayDate(DateTime date, string title)
{
    <td><time itemprop="startDate" datetime="@date.ToString("yyyy-MM-dd")" title="@title">@date.ToString("MMMM d, yyyy")</time></td>
}
@helper DisplaySet(string setCode, bool current = false, bool future = false,
    string createdTitle = null, string prereleaseTitle = null, string releaseTitle = null)
{
    var set = mtgen.Logic.SetLogic.Instance.GetSetStub(setCode);
    var currentClass = (current) ? "current" : null;
    var futureClass = (future) ? "future" : null;
    <tr class="@currentClass @futureClass" itemscope itemtype="http://schema.org/Event">
        <td>
            @if (set.GeneratorCreatedDate.HasValue)
            {
                @Html.Raw("<a href='/" + set.Code.ToLower() + "/'>");
            }
            <img src="@Url.Content("~/content/"+set.Code.ToLower()+"/images/"+set.Image)" title="@set.Name" alt="@set.Name logo" itemprop="image" />
            @if (set.GeneratorCreatedDate.HasValue)
            {
                @Html.Raw("</a>");
            }
        </td>
        <td itemprop="name">@set.Name</td>
        @if (set.GeneratorCreatedDate.HasValue)
        {
            @DisplayDate(set.GeneratorCreatedDate.Value, createdTitle)
        }
        else
        {
            <td class="not-yet">not yet created</td>
        }
        @if (set.PrereleaseDate.HasValue)
        {
            @DisplayDate(set.PrereleaseDate.Value, prereleaseTitle)
        }
        else
        {
            <td><em>none</em></td>
        }
        @if (set.ReleaseDate.HasValue)
        {
            @DisplayDate(set.ReleaseDate.Value, releaseTitle)
        }
        else
        {
            <td><em>none</em></td>
        }
    </tr>
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Magic: The Gathering: Card Generator</title>
    <meta name="Description" content="Magic: The Gathering Sealed Deck Card Generator">
    <link rel='stylesheet' href='@Url.Content("~/content/home.css")' type='text/css' />
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
</head>
<body class="home">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-25921884-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=259929227366323&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <h1>Magic: The Gathering Sealed Deck Card Generator</h1>
    <img src="@Url.Content("~/content/images/mtg-logo.jpg")" width="450" height="128" alt="Magic the Gathering" />
    <div class="social">
        <g:plusone annotation="inline"></g:plusone>
        <div id="fb-root"></div>
        <div class="fb-like" data-href="http://mtgen.net/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <p><strong>Welcome!</strong></p>
    <p>This site exists because I'm not a very good Magic player. Really I only play during the prereleases, and I've half-forgotten the rules every time. It takes me forever to build my deck, and my poor friends need to use some of their time to help me out. That's not really cool. So to help me, thank them, and hopefully help others, I present to you my crappy thrown-together-in-a-Saturday-afternoon MtG Card Generator!</p>
    <p>Well, I've evolved it considerably since it started. But that's how it started.</p>
    <p>The idea is to let it generate, using a hopefully <em>somewhat</em> accurate algorithm, what you're get at a <a href="http://www.wizards.com/magic/tcg/events.aspx?x=mtgcom/events/prereleases">MtG Prerelease</a> event. Then you can take your time, check out the cards, try to remember the rules, and maybe figure out what deck you'd build.</p>
    <p>I enjoy building and enhancing this thing, so I'll try to keep doing it for every new set.</p>
    <p>Technically these Prereleases use a format called <a href="http://www.wizards.com/Magic/Magazine/Article.aspx?x=mtgcom/daily/sw63">Sealed Deck</a>, where you get 6 packs of sealed boosters, open them, and construct your deck from only those cards.</p>
    <p class="twitter-follow">
        Want the latest updates? <a href="https://twitter.com/mtggen" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @@mtggen</a> or <a href="http://eepurl.com/bbdyO5">subscribe to the email update list</a>.
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </p>
    <p>12-Nov-2014: This project has now been <a href="https://github.com/copperdogma/mtgen">open sourced on Github</a>. I will continue creating new generators as new sets come out, but if you have something you wish to contribute I'd love to hear from you. Enjoy!</p>
    <h2>Sealed Deck Generator Sets</h2>
    <table>
        <thead>
            <tr><th></th><th>Set</th><th>Generator Created Date</th><th>Prerelease Date</th><th>Release Date</th></tr>
        </thead>
        <tbody>
            @DisplaySet("evk", future: true)
        </tbody>
        <tbody>
            @DisplaySet("c14", current: true)
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Khans of Tarkir Block</td></tr>
            @DisplaySet("dtk", future: true)
            @DisplaySet("frf", current: true)
            @DisplaySet("ktk")
        </tbody>
        <tbody>
            @DisplaySet("v14", releaseTitle: "from @GavinVerhey")
        </tbody>
        <tbody class="core">
            @DisplaySet("m15", current: true)
        </tbody>
        <tbody>
            @DisplaySet("ovm")
        </tbody>
        <tbody>
            @DisplaySet("cns")
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Theros Block</td></tr>
            @DisplaySet("jou")
            @DisplaySet("bng")
            @DisplaySet("ths")
        </tbody>
        <tbody class="core">
            @DisplaySet("m14")
        </tbody>
        <tbody>
            @DisplaySet("mma")
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Return to Ravnica Block</td></tr>
            @DisplaySet("dgm")
            @DisplaySet("gtc")
            @DisplaySet("rtr")
        </tbody>
        <tbody class="core">
            @DisplaySet("m13")
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Innistrad Block</td></tr>
            @DisplaySet("avr")
            @DisplaySet("dka")
            @DisplaySet("isd")
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Onslaught Block</td></tr>
            @DisplaySet("ons")
            @DisplaySet("lgn")
            @DisplaySet("scg")
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Masques Block</td></tr>
            @DisplaySet("mmq")
            @DisplaySet("nms")
            @DisplaySet("pcy")
        </tbody>
        <tbody class="block">
            <tr class="title"><td colspan="5">Urza Block</td></tr>
            @DisplaySet("usg")
            @DisplaySet("ulg")
            @DisplaySet("uds")
        </tbody>
    </table>
    <p>Where are the previous sets? I started the generator on Innistrad, so older ones don't exist. I may add them one day. If you have a particular set you really want to see, <a href="mailto:cam.marsollier@gmail.com">let me know</a>.</p>
    <footer>
        <p>Created by: Cam Marsollier - <a href="mailto:cam.marsollier@gmail.com">cam.marsollier@gmail.com</a></p>
        <p>Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2009 Wizards. All Rights Reserved.</p>
        <p>MtG Generator is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. MtG Generator may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' Fan Site Policy. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a href="http://www.wizards.com">www.wizards.com</a>.</p>
    </footer>
</body>
</html>