@using mtgen.Services;
@using mtgen.Areas.Admin.Controllers;
@model Task<IList<DrawEntity>>
@{
    ViewData["Title"] = "Draw Statistics";
}

<h1>Draw Statistics</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead><tr><th>Draw Url</th><th>Draw json</th><th>Use Count</th><th>Last Viewed</th></tr></thead>
        <tbody>
            @foreach (var draw in await Model)
            {
                var drawUrl = $"/{draw.SetCode}?draw={draw.DrawId}";
                var formattedJsonUrl = Url.Action(nameof(DrawController.GetDrawAsFormattedJson), new { setCode = draw.SetCode, drawId = draw.DrawId });
                <tr>
                    <td><a href="@drawUrl" target="_blank">@draw.DrawId</a></td>
                    <td><a href="@formattedJsonUrl" target="_blank">View json</a></td>
                    <td>@draw.UseCount</td>
                    <td>@draw.LastUsedDateTime.ToLocalTime().ToString("dd-MMM-yyyy h:mm tt")</td>
                </tr>

            }
        </tbody>
    </table>
</div>