@model Set
<tr class="@(Model.IsCurrentSet ? "current" : "") @(Model.IsFutureSet ? "future" : "")" itemscope itemtype="http://schema.org/Event">
    <td>
        @if (Model.GeneratorCreatedDate.HasValue)
        {
            <a href="/@Model.Code.ToLower()/"><img src="/@Model.Code.ToLower()/images/@Model.Image" title="@Model.Name" alt="@Model.Name logo" itemprop="image" /></a>
        }
        else
        {
            <img src="/@Model.Code.ToLower()/images/@Model.Image" title="@Model.Name" alt="@Model.Name logo" itemprop="image" />
        }
    </td>
    <td itemprop='name'>@Model.Name</td>
    @if (Model.GeneratorCreatedDate.HasValue)
    {
        <td><time itemprop="startDate" datetime="@Model.GeneratorCreatedDate.Value.ToString("yyyy-MM-dd")">@Model.GeneratorCreatedDate.Value.ToString("MMMM d, yyyy")</time></td>
    }
    else
    {
        <td class='not-yet'>not yet created</td>
    }
    @if (Model.PrereleaseDate.HasValue)
    {
        <td><time itemprop="startDate" datetime="@Model.PrereleaseDate.Value.ToString("yyyy-MM-dd")">@Model.PrereleaseDate.Value.ToString("MMMM d, yyyy")</time></td>
    }
    else
    {
        <td><em>none</em></td>
    }
    @if (Model.ReleaseDate.HasValue)
    {
        <td><time itemprop="startDate" datetime="@Model.ReleaseDate.Value.ToString("yyyy-MM-dd")">@Model.ReleaseDate.Value.ToString("MMMM d, yyyy")</time></td>
    }
    else
    {
        <td><em>none</em></td>
    }
</tr>
