@model SetSummary
<tr class="@(Model.IsCurrentSet ? "current" : "") @(Model.IsFutureSet ? "future" : "")" itemscope itemtype="http://schema.org/Event">
    <td>
        @if (Model.Set.GeneratorCreatedDate.HasValue)
        {
            <a href="/@Model.Set.Code.ToLower()/"><img src="/@Model.Set.Code.ToLower()/images/@Model.Set.Image" title="@Model.Set.Name" alt="@Model.Set.Name logo" itemprop="image" /></a>
        }
        else
        {
            <img src="/@Model.Set.Code.ToLower()/images/@Model.Set.Image" title="@Model.Set.Name" alt="@Model.Set.Name logo" itemprop="image" />
        }
    </td>
    <td itemprop='name'>@Model.Set.Name</td>
    @if (Model.Set.GeneratorCreatedDate.HasValue)
    {
        <td><time itemprop="startDate" datetime="@Model.Set.GeneratorCreatedDate.Value.ToString("yyyy-MM-dd")" title="@Model.CreatedTitle">@Model.Set.GeneratorCreatedDate.Value.ToString("MMMM d, yyyy")</time></td>
    }
    else
    {
        <td class='not-yet'>not yet created</td>
    }
    @if (Model.Set.PrereleaseDate.HasValue)
    {
        <td><time itemprop="startDate" datetime="@Model.Set.PrereleaseDate.Value.ToString("yyyy-MM-dd")" title="@Model.PrereleaseTitle">@Model.Set.PrereleaseDate.Value.ToString("MMMM d, yyyy")</time></td>
    }
    else
    {
        <td><em>none</em></td>
    }
    @if (Model.Set.ReleaseDate.HasValue)
    {
        <td><time itemprop="startDate" datetime="@Model.Set.ReleaseDate.Value.ToString("yyyy-MM-dd")" title="@Model.ReleaseTitle">@Model.Set.ReleaseDate.Value.ToString("MMMM d, yyyy")</time></td>
    }
    else
    {
        <td><em>none</em></td>
    }
</tr>
