@page
@model mtgen.Pages.IndexModel
<!doctype html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Magic: The Gathering: Sealed Deck Generator</title>
    <meta name="Description" content="Magic: The Gathering Sealed Deck Card Generator: Generate accurate random Magic: The Gathering boosters and other such madness.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/html5reset.css" type="text/css" />
    <link rel='stylesheet' href='@Url.Content("~/css/home.css")' type='text/css' />
    <link rel="prerender" href="//mtgen.net/@Model.AllSets.NewestCurrentSet.Code/">
    <link rel="dns-prefetch" href="//media.wizards.com">
    @{ await Html.RenderPartialAsync("_favicons"); }
    @{ await Html.RenderPartialAsync("_ga"); }
</head>
<body class="home">
    <header>
        <img src="@Url.Content("~/images/logo-mtg.png")" alt="Magic the Gathering" />
        <h1>Sealed Deck Card Generator</h1>
        <h2>Generate accurate random Magic: The Gathering boosters and other such madness.</h2>
        <div class="links">
            <a href="@Url.Page("About")" class="button" title="About me and this site">About</a>
            <a href="http://eepurl.com/bbdyO5" class="button" title="Subscribe to email updates">Subscribe</a>
            <a href="https://twitter.com/mtggen" class="button" title="Follow @@mtggen on Twitter">@@mtggen</a>
            <a href="https://github.com/copperdogma/mtgen" class="button" title="Open sourced on Github">github</a>
        </div>
    </header>
    <main>
        @foreach (var set in @Model.AllSets.SortedGroupedBlocksAndSets)
        {
            @if (set.IsBlockSet)
            {
                <div class="block">
                    <h2 class="block-title">@set.Block Block</h2>
                    @foreach (var blockSet in set.BlockSets)
                    {
                        @await Html.PartialAsync("_setSummary", blockSet)
                    }
                </div>
            }
            else
            {
                @await Html.PartialAsync("_setSummary", set)
            }
        }
    </main>
    <footer>
        <p>Created by: Cam Marsollier - <a href="mailto:cam.marsollier@gmail.com">cam.marsollier@gmail.com</a> - <a href="@Url.Page("About")">About me and this site.</a></p>
        <p>Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2009 Wizards. All Rights Reserved.</p>
        <p>MtG Generator is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. MtG Generator may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' Fan Site Policy. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a href="http://www.wizards.com">www.wizards.com</a>.</p>
    </footer>
</body>
</html>