@model IList<mtgen.ViewModels.SetCardNumSummary>
@{
    ViewBag.Title = "Check All Sets' Card Numbers";
    Layout = null;
}
<h2>@ViewBag.Title</h2>

<p>Checks all sets for the "num" properties.</p>

@foreach (var setSummary in Model)
{
    var uniquelyNumberedCardCount = setSummary.UniqueNumberedCards.Count();
    var incorrectlyNumberedCardCount = setSummary.TotalCardCount - uniquelyNumberedCardCount;
    <h2>@setSummary.SetCode</h2>
    <div>Total card count: @setSummary.TotalCardCount</div>
    <div>Uniquely-numbered cards: @uniquelyNumberedCardCount</div>
    if (incorrectlyNumberedCardCount>0)
    {
        <strong style="color:red">Incorrectly-numbered cards: @incorrectlyNumberedCardCount</strong>
    }
    <h3>Non-Numbered Cards:</h3>
    <ul>
        @foreach (var card in setSummary.NonNumberedCards)
        {
            <li>@card</li>
        }
    </ul>
    <h3>Duplicate-Numbered Cards:</h3>
    <ul>
        @foreach (var card in setSummary.DuplicateNumberedCards)
        {
            <li>@card</li>
        }
    </ul>
    <hr/>
}
